_format_version: "2.1"
_transform: true

services:
  - name: postgrest
    url: http://postgrest:3000
    routes:
      - name: rest-route
        paths:
          - /rest/v1/
        strip_path: false
    plugins:
      - name: cors
        config:
          origins:
            - "*"
          methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
            - OPTIONS
          headers:
            - Authorization
            - Content-Type
          credentials: true
