fastapi==0.115.1
uvicorn[standard]==0.24.0
pydantic==2.4.0
python-json-logger==2.0.7
opentelemetry-sdk==1.26.0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
python-semantic-release>=9.0.0
